/* IMPORTS */
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 60px; /* Adjusted to be below the header */
    left: -250px; /* Hidden initially */
    width: 250px;
    height: calc(100% - 60px); /* Adjusted height to fit below the header */
    background-color: #000000;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 999; /* Ensure it is above other content */
    display: none; /* Hidden by default */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Sidebar visível */
.sidebar.open {
    left: 0;
    background-color: #000000;
}

/* Estilos do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #dcd9ff;
    color: #333;
    padding-top: 80px; /* Increased padding to avoid overlap */
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #000000;
    border-bottom: 1px solid #000000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 70px; /* Altura inicial do cabeçalho */
    transition: height 0.3s ease; /* Transição suave para a altura */
}

header .logo {
    order: 1; /* Position logo to the left */
}

header .logo img {
    width: 1500px; /* Tornar a logo responsiva */
    max-width: 50px; /* Aumentar largura máxima para a logo */
    height: auto;
    transition: max-width 0.3s ease; /* Transição suave para a largura */
    padding-top: 10px;
    padding-left: 50px;
}

header .search-bar {
    position: relative; /* Para posicionar a imagem de lupa */
    order: 2; /* Position search bar in the middle */
    flex-grow: 1; /* Allow the search bar to grow */
    text-align: center; /* Center the search bar */
}
    
header .search-bar input {
    width: 50%; /* Tornar a barra de pesquisa responsiva */
    padding: 5px;
    padding-right: 30px; /* Espaço para a imagem de lupa */
    color: #fff;
    background-color: #808080;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 100px;
}

header .search-bar input::placeholder {
    color: #ffffff; /* Cor do placeholder */
    opacity: 1; /* Para garantir que a cor personalizada seja aplicada em todos os navegadores */
}

header .search-bar .search-icon {
    position: absolute;
    right: 27%; /* Posicionar a imagem de lupa à direita */
    top: 50%;
    transform: translateY(-50%); /* Centralizar verticalmente */
    width: 20px; /* Ajustar largura da imagem de lupa */
    height: 20px; /* Ajustar altura da imagem de lupa */
    pointer-events: none; /* Permitir clique através da imagem */
}

header .header-icons {
    display: flex;
    align-items: center; /* Centralizar ícones verticalmente */
    order: 3; /* Position icons to the right */
    gap: 10px; /* Espaçamento entre os ícones */
    padding-right: 25px;
}

header .header-icons a {
    margin-left: 15px;
}

header .header-icons img {
    max-width: 50px; /* Aumentar largura máxima para os ícones */
    height: auto;
    transition: max-width 0.3s ease; /* Transição suave para a largura */
}

/* Menu de Navegação */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 30px; /* Padding lateral */
    padding-top: 20px; /* Padding superior */
    height: auto; /* Permitir que o nav cresça verticalmente */
}
/* Menu de Navegação */
nav {
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center;
    background-color: #333;
    padding: 10px 30px; /* Padding lateral */
    padding-top: 20px; /* Padding superior */
    height: auto; /* Permitir que o nav cresça verticalmente */
    text-align: center; /* Centralizar o texto */
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease; /* Transição suave para cor e transformação */
}

nav ul li a:hover {
    color: #808080; /* Nova cor ao passar o mouse */
    transform: scale(1.1); /* Aumentar um pouco o tamanho */
}

/* Ícone do menu */
.menu-toggle {
    display: none; /* Hidden by default */
}

.menu-toggle img {
    width: 30px; /* Ajustar largura do ícone */
    height: 30px; /* Ajustar altura do ícone */
    background: none; /* Remover fundo */
    background: transparent; /* Garantir que o fundo seja transparente */
}

button.menu-toggle {
    background-color: transparent; /* Fundo transparente para o botão */
    border: none; /* Remover borda do botão */
    padding: 0; /* Remover padding do botão */
    cursor: pointer; /* Mostrar cursor de ponteiro ao passar o mouse */
}


/* From Uiverse.io by SelfMadeSystem */ 
.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #000000;
    --fill: #ffc73a;
    position: relative; /* Add relative positioning */
    right: 126px; /* Adjust this value to move the stars to the left */
}
  
.rating input {
    appearance: unset;
}
  
.rating label {
    cursor: pointer;
}
  
.rating svg {
    width: 1.3rem;
    height: 1.3rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 2;

}
  
@keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
}
  
.rating label:hover svg {
    stroke: var(--fill);
}
  
.rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
}
  
@keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
}

/* Detalhes do Produto */
.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-details .product-image {
    flex: 1;
    max-width: 500px;
    margin: 20px;
}

.product-details .product-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-details .product-info {
    flex: 1;
    max-width: 500px;
    margin: 20px;
}

.product-details .product-info h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-details .product-info p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-details .product-info #preco-antigo {
    font-size: 1em;
    color: #808080;
    text-decoration: line-through;
}

.product-details .product-info .discount-badge {
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-details .product-info button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-details .product-info button:hover {
    background-color: #333;
}

/* Formulário de Avaliação */
.review-form {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1050px; /* Adjusted width */
}

.review-form h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.review-form .form-group {
    margin-bottom: 15px;
}

.review-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.review-form input,
.review-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.review-form .rating {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.review-form .rating input {
    display: none;
}

.review-form .rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
}

.review-form .rating input:checked ~ label,
.review-form .rating label:hover,
.review-form .rating label:hover ~ label {
    color: #ffc73a;
}

.review-form button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review-form button:hover {
    background-color: #333;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos Responsivos */
@media (max-width: 688px) {
    .sidebar {
        display: block; /* Show sidebar on mobile */
    }

    .menu-toggle {
        display: block; /* Show menu icon on mobile */
    }

    .header-icons {
        display: none; /* Hide header icons on mobile */
    }

    .sidebar ul {
        display: block; /* Show nav links in sidebar */
    }

    header {
        padding: 0px 20px; /* Reduced padding for mobile */
    }

    header .logo {
        order: 2; /* Position logo to the right */
    }

    header .logo img {
        content: url('../logo/logo.jpeg'); /* Use another image for the logo on mobile */
        max-width: 69px; /* Ajustar largura máxima */
        padding-left: 0px;
    }

    header .search-bar {
        order: 1; /* Position search bar to the left */
    }
    
    header .header-icons {
        display: none;
    }

    header .search-bar input {
        height: 30px;
        width: 75%; /* Tornar a barra de pesquisa responsiva */
    }

    header .search-bar .search-icon {
        right: 15%; /* Posicionar a imagem de lupa à direita */
    }

    nav {
        padding-top: 8px;
        display: none; /* Hide nav on mobile */
    }

    .product-details {
        flex-direction: column;
        align-items: center;
    }

    .product-details .product-image,
    .product-details .product-info {
        max-width: 90%;
    }
    
}

@media (min-width: 688px) and (max-width: 769px) {
    
    header {
        height: 80px; /* Aumentar altura do cabeçalho */
    }

    header .header-icons img {
        width: 50%;
        height: auto;
        max-width: 50px; /* Ajustar largura máxima */
    }

    header .logo img {
        max-width: 115px; /* Ajustar largura máxima */
    }

    header .search-bar input {
        height: 30px;
    }
    nav {
        padding-top: 8px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .product-details .product-info h1 {
        font-size: 1.8em;
    }

    .product-details .product-info p {
        font-size: 1.1em;
    }

    .review-form h2 {
        font-size: 1.4em;
    }
}

@media (min-width: 770px) and (max-width: 1000px) {

    header {
        height: 85px; /* Aumentar altura do cabeçalho */
    }

    header .header-icons img {
        width: 55%;
        height: auto;
        max-width: 55px; /* Ajustar largura máxima */
    }

    header .logo img {
        max-width: 120px; /* Ajustar largura máxima */
    }

    header .search-bar input {
        height: 35px;
    }
    nav {
        padding-top: 15px;
    }
    nav ul li a {
        font-size: 15px;
    }
    header .search-bar input::placeholder {
        font-size: 17px;
    }

    .product-details .product-info h1 {
        font-size: 1.9em;
    }

    .product-details .product-info p {
        font-size: 1.15em;
    }

    .review-form h2 {
        font-size: 1.45em;
    }
}

@media (min-width: 1001px) {
    header {
        height: 90px; /* Aumentar altura do cabeçalho */
    }

    header .header-icons img {
        width: 50%;
        height: auto;
        max-width: 50px; /* Ajustar largura máxima */
    }

    header .logo img {
        max-width: 125px; /* Ajustar largura máxima */
    }

    header .search-bar input {
        height: 40px;
    }
    nav {
        padding-top: 25px;
    }

    nav ul li a {
        font-size: 20px;
    }

    header .search-bar input::placeholder {
        font-size: 17px;
    }

    .product-details .product-info h1 {
        font-size: 2em;
    }

    .product-details .product-info p {
        font-size: 1.2em;
    }

    .review-form h2 {
        font-size: 1.5em;
    }
}

@media (min-width: 1481px) {

    header .header-icons img {
        width: 55%;
        height: auto;
        max-width: 55px; /* Ajustar largura máxima */
    }
    
    header {
        height: 100px; /* Aumentar altura do cabeçalho */
    }

    header .logo img {
        max-width: 135px; /* Ajustar largura máxima */
    }


    header .search-bar input {
        height: 45px;
    }
    nav {
        padding-top: 30px;
    }

    nav ul li a {
        font-size: 22px;
    }

    header .search-bar input::placeholder {
        font-size: 20px;
    }

    .product-details .product-info h1 {
        font-size: 2.2em;
    }

    .product-details .product-info p {
        font-size: 1.3em;
    }

    .review-form h2 {
        font-size: 1.6em;
    }
}

@media (min-width: 1701px) {

    header .header-icons img {
        width: 60%;
        height: auto;
        max-width: 60px; /* Ajustar largura máxima */
    }
    
    header {
        height: 105px; /* Aumentar altura do cabeçalho */
    }

    header .logo img {
        max-width: 150px; /* Ajustar largura máxima */
    }

    header .search-bar input {
        height: 50px;
    }

    nav {
        padding-top: 35px;
    }

    nav ul li a {
        font-size: 24px;
    }
    
    header .search-bar input::placeholder {
        font-size: 22px;
    }

    .product-details .product-info h1 {
        font-size: 2.4em;
    }

    .product-details .product-info p {
        font-size: 1.4em;
    }

    .review-form h2 {
        font-size: 1.7em;
    }
}

